<div id="sidebar-menu">

    <ul id="side-menu">

        <li class="menu-title mt-2">Secciones</li>

        <li>
            <NavLink class="dropdown-item notify-item" href="/" Match="NavLinkMatch.All">
                <i class="mdi mdi-garage-variant"></i>
                <span>Inicio</span>
            </NavLink>
        </li>

        <li>
            <NavLink class="dropdown-item notify-item" href="responsables" Match="NavLinkMatch.Prefix">
                <i class="mdi mdi-account-tie"></i>
                <span>Responsables</span>
            </NavLink>
        </li>

        <li>
            <NavLink class="dropdown-item notify-item" href="clientes" Match="NavLinkMatch.Prefix">
                <i class="mdi mdi-account-cash"></i>
                <span>Clientes</span>
            </NavLink>
        </li>

        <li>
            <NavLink class="dropdown-item notify-item" href="usuarios" Match="NavLinkMatch.Prefix">
                <i class="mdi mdi-account-edit"></i>
                <span>Usuarios</span>
            </NavLink>
        </li>

    </ul>

</div>
