@page "/"
@attribute [Authorize]

<!-- Titulo de la Pagina: Inicio -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Parkner</li>
                    <li class="breadcrumb-item active">Inicio</li>
                </ol>
            </div>
            <h4 class="page-title">Inicio</h4>
        </div>
    </div>
</div>
<!-- Titulo de la Pagina: Fin -->

<!-- Carta: Inicio -->
<div class="row">
    <div class="col-xl-12">
        <div class="card-box">

            <Jumbotron Background="Background.Transparent" Margin="Margin.Is4.FromBottom">
                <JumbotronTitle Size="JumbotronTitleSize.Is4">Parkner</JumbotronTitle>
                <JumbotronSubtitle>
                    Tu compañero del estacionamiento.
                </JumbotronSubtitle>
                <Divider></Divider>
                <Paragraph>
                    Sistema de administración de Parkner.
                </Paragraph>
            </Jumbotron>

        </div>
    </div>
</div>
<!-- Carta: Fin -->